[submodule "br2secretsauce"]
	path = br2secretsauce
	url = https://github.com/fifteenhex/br2secretsauce.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/fifteenhex/buildroot.git
[submodule "br2directfb2"]
	path = br2directfb2
	url = https://github.com/fifteenhex/br2directfb2.git
[submodule "br2games"]
	path = br2games
	url = https://github.com/fifteenhex/br2games.git
[submodule "br2sanetime"]
	path = br2sanetime
	url = https://github.com/fifteenhex/br2sanetime.git
[submodule "br2chenxing"]
	path = br2chenxing
	url = https://github.com/linux-chenxing/br2chenxing.git
